
<div style="border-bottom:1px solid #c2c2c2; padding:10px;">
  <div style="font-weight:bold;">
    <%= comment.user.email %>
  </div>
  <div style="font-size:.6em; color:#909090;">
    <%= comment.created_at %>
  </div>
  <p style="margin-top:5px;">
    <%= comment.body %>
  </p>
</div>
