
<div style="border-bottom:1px solid #c2c2c2; padding:10px;">
  <div style="font-weight:bold;">
    <%= comment.user.first %> <%= comment.user.last %>
  </div>
  <div style="font-size:.6em; color:#909090;">
    <%= comment.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p %Z") %>
  </div>
  <p style="margin-top:5px;">
    <%= comment.body %>
  </p>
</div>
